.fr {
    border-color: #003f2f6e;
}

.jobs{
    padding:0.5%;
    text-align: center;
}

.tdValue{
    font-size: 80%;
}

.delete{
    text-decoration: none;
    background-color: white;
    font-family: open sans;
    border:none;
}
.delete:hover{

    background-color: rgb(253, 218, 218);

}